<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="actor1" class="com.stackroute.Domain.Actor">
        <property name="name" value="Sumanth" />
        <property name="gender" value="Male" />
        <property name="age" value="32" />

    </bean>

    <bean id="actor2" class="com.stackroute.Domain.Actor">
        <property name="name" value="Sridevi" />
        <property name="gender" value="Female" />
        <property name="age" value="43" />

    </bean>

<bean id="one" class="com.stackroute.Domain.Movie">
    <property name="actor" ref="actor1"/>

</bean>

    <bean id="two" class="com.stackroute.Domain.Movie">
        <property name="actor" ref="actor2"/>

    </bean>
</beans>