<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="actor" class="com.stackroute.Domain.Actor">
        <constructor-arg name="name" value="Sumanth" />
        <constructor-arg name="gender" value="Male" />
        <constructor-arg name="age" value="32" />

    </bean>

   <!-- <bean id="actor1" class="com.stackroute.Domain.Actor">
        <constructor-arg name="name" value="Sridevi" />
        <constructor-arg name="gender" value="Female" />
        <constructor-arg name="age" value="43" />

    </bean>
-->
    <bean id="one"  autowire="byName" class="com.stackroute.Domain.Movie" ></bean>

    <bean name="two" class="com.stackroute.Domain.Movie" autowire="byType">
    </bean>


</beans>